.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

.directory
.gradle/*
.idea/*
*.iml
build/*
classes/*
logs/*
logFile.log
*.log
Master/Alarm.xml
Master/Notifications.xml
Master/log/*
*.zip
.hg/
Master/.idea/*
Slave/,idea/*
Master/out/*
Master/src/old/*
